name: release-runners

on:
  repository_dispatch:
    types: [release-runners]
  workflow_dispatch:
    inputs:
      version:
        description: 'version'
        required: true

permissions:
  contents: write # needed to write releases
  id-token: write # needed for keyless signing
  packages: write # needed for ghcr access

env:
  VERSION: ${{ github.event.inputs.version }}

jobs:
  release-mpl:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tf_version: [1.0.11, 1.1.9, 1.2.9, 1.3.10, 1.4.7, 1.5.7]
        runner: [runner, runner-aws]
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          repository: weaveworks/tf-controller
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          buildkitd-flags: "--debug"
      - name: Login to Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish multi-arch tf-${{ matrix.runner }} MPL images
        uses: docker/build-push-action@v2
        with:
          push: true
          no-cache: true
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./${{ matrix.runner }}.Dockerfile
          platforms: linux/amd64,linux/arm64 #,linux/arm/v7
          build-args: |
            BASE_IMAGE=ghcr.io/weaveworks/tf-runner:${{ env.VERSION }}-base
            TF_VERSION=${{ matrix.tf_version }}
          tags: |
            ghcr.io/tf-controller/tf-${{ matrix.runner }}:${{ env.VERSION }}-tf-${{ matrix.tf_version }}-mpl
          labels: |
            org.opencontainers.image.title=${{ github.event.repository.name }}
            org.opencontainers.image.description=${{ github.event.repository.description }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=${{ env.VERSION }}
            org.opencontainers.image.created=${{ env.BUILD_DATE }}

  release-bsl:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tf_version: [1.6.0-beta2]
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          repository: weaveworks/tf-controller
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          buildkitd-flags: "--debug"
      - name: Login to Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish multi-arch tf-runner MPL images
        uses: docker/build-push-action@v2
        with:
          push: true
          no-cache: true
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./runner.Dockerfile
          platforms: linux/amd64,linux/arm64 #,linux/arm/v7
          build-args: |
            BASE_IMAGE=ghcr.io/weaveworks/tf-runner:${{ env.VERSION }}-base
            TF_VERSION=${{ matrix.tf_version }}
          tags: |
            ghcr.io/tf-controller/tf-runner:${{ env.VERSION }}-tf-${{ matrix.tf_version }}-bsl
          labels: |
            org.opencontainers.image.title=${{ github.event.repository.name }}
            org.opencontainers.image.description=${{ github.event.repository.description }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=${{ env.VERSION }}
            org.opencontainers.image.created=${{ env.BUILD_DATE }}
